@import './globals.scss';

.main-content {
  .container {
    .form {
      background-color: $darker-color;
      color: $gold-color;
      .input {
        position: relative;
        input {
          border: 1px solid $gold-color;
          background-color: transparent;
          color: $white-color;
          &:focus + .label{
            top: 0px;
          }
        }
        .label {
          position: absolute;
          left: 1rem;
          transform: translateY(-50%);
          background-color: $darker-color;
          font-size: 14px;
          padding: 0 .2rem;
          cursor: text;
          transition: all .2s ease-in-out;
        }
      }
      .btn {
        margin-top: 1rem;
        background-color: $bg-grd-color;
        padding: .5rem 1.5rem;
        width: 100%;
        border-radius: .2rem;
        color: $white-color;
        font-weight: 600;
        cursor: pointer;
        text-transform: capitalize;
        letter-spacing: 1px;
        transition: all .2s ease-in-out;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
