@import '@/app/globals.scss';

.repo {
  margin: 1rem;
  background-color: $darker-color;
  color: $white-color;
  padding: 1rem;
  border-radius: .5rem;
  text-align: center;
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
